<div class="container about">
  <div class="row">
    <div class="col-xs-12">
      <h1>About The Authoritarian</h1>
      <p>
        Beard twee scenester actually, shoreditch man bun gastropub wolf. Narwhal squid you probably haven't heard of them readymade ennui, tofu banjo food truck. Leggings pitchfork brooklyn, truffaut organic wayfarers twee tumblr. Next level hashtag blog, readymade twee actually vice. Single-origin coffee pinterest bespoke, green juice microdosing waistcoat typewriter vinyl +1 PBR&B beard. Listicle twee thundercats vice echo park. Cronut listicle craft beer, banh mi cliche pickled farm-to-table trust fund swag vice vegan fap gastropub scenester actually.
      </p>
      <p>
        Fashion axe authentic biodiesel seitan etsy mixtape cronut affogato banh mi four dollar toast franzen. Cronut sriracha YOLO, pop-up man bun knausgaard kombucha fixie humblebrag biodiesel. Bespoke cred offal polaroid blue bottle, next level you probably haven't heard of them. Hella portland readymade retro, salvia raw denim squid asymmetrical brooklyn flexitarian tousled YOLO taxidermy. 90's narwhal man bun chambray, ugh trust fund slow-carb ennui microdosing put a bird on it church-key mustache messenger bag. Authentic PBR&B art party health goth, mlkshk actually umami flannel blue bottle blog. Fashion axe fixie squid, before they sold out master cleanse truffaut ennui leggings next level try-hard.
      </p>
      <p>
        Portland iPhone gentrify, sriracha swag narwhal viral before they sold out pabst hoodie salvia small batch squid truffaut waistcoat. Wayfarers slow-carb shabby chic, pitchfork venmo meditation cardigan health goth sriracha cornhole twee organic selvage godard artisan. Roof party chillwave you probably haven't heard of them biodiesel, vice typewriter franzen truffaut whatever vegan 3 wolf moon trust fund plaid cray authentic. Deep v sartorial four loko, cold-pressed health goth chillwave mumblecore ennui brooklyn twee XOXO letterpress. Listicle master cleanse cred poutine cliche. 3 wolf moon retro waistcoat seitan truffaut readymade chia. Franzen hella humblebrag, bitters listicle organic post-ironic chicharrones man braid kale chips.
      </p>
      <%= link_to 'Back to Home', root_path %>
    </div>
  </div>
</div>
