<div class="container-fluid post-links">
  <div class="row">
    <div class="col-xs-12 headline text-center">
      <h1>MOST POPULAR POSTS</h1>
    </div>
    <% @posts.each do |post| %>
      <% unless post.id == @current_post.id %>
        <div class="col-xs-3 post-link">
          <%= link_to(post_path(post)) do %>
            <%= image_tag(post.thumbnail, class: 'img-responsive') %>
            <%= content_tag(:h2, post.title) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
